* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.home-visual-text {
	font-family: Fjalla One;
}

.nav-list {
	width: 100%;
	text-align: center;
	padding: 15px 0;
	margin: 0 auto;
	background-color: snow;
}

.nav-list-item {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}

.home-visual {
	width: 100%;
	height: 500px;
	background-image: url(img/fireworks.jpg);
	background-size: cover;
	background-position: center;
}

.home-visual-text {
	font-size: 60px;
	color: white;
	text-align: center;
	padding-top: 50px;
}

.about {
	width: 90%;
	height: 500px;
	margin: 0 auto;
	padding-top: 100px;
}

.about-box {
	padding-top: 30px;
}

.about-me-headline {
	font-size: 30px;
	border-bottom: 8px solid #f7f7f7;
	text-align: center;
	line-height: 0.6;
}

.about-me-photo {
	float: left;
	border-radius: 50%;
	height: 300px;
}

.about-me-text {
	float: left;
	padding-left: 50px;
}

.about-me-name {
	font-size: 30px;
	padding-bottom: 30px;
}

.about-me-profile {
	font-size: 18px;
}